/* Heading Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-desktop.svg);
  background-color: var(--Violet);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.1fr;
  width: 95%;
  height: 95%;
}

.logo {
  grid-area: 1 / 1 / 1 / span 2;
  margin-top: 40px;
}

.logo img {
  height: 40px;
  width: 200px;
}

.grid-image {
  grid-area: 2 / 1 / 2 / 1;
}

.page-content {
  color: white;
  width: 440px;
  height: 300px;
  align-self: center;
}

.page-content h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

.page-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.page-content button {
  color: var(--Violet);
  background-color: white;
  border: none;
  width: 165px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.page-content button:hover {
  background-color: var(--Soft-Magenta);
  cursor: pointer;
}

.social-links {
  grid-area: 3 / 2 / 3 / 2;
}

.social-links ul {
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.social-links ul li {
  margin-left: 15px;
  height: 30px;
  width: 30px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1280px) {
  body {
    background-image: url("images/bg-mobile.svg");
    background-size: cover;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    align-self: center;
  }

  .grid-image {
    display: flex;
    justify-content: center;
  }

  .grid-image img {
    height: 50%;
    width: 50%;
  }

  .page-content {
    width: 50%;
    height: 80%;
  }

  .page-content h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
  }

  .page-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
  }
}
